* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 16px 120px 16px 120px;

}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 32px;

}

.nav-container a {
    text-decoration: none;
    color: #000000;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
}

.main-container {
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    height: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main-content {
    width: 1360px;
    text-align: center;
}

.main-content h1 {
    width: 772px;
    font-size: 68px;
    margin: 0 auto;
    padding-bottom: 16px;
}
span{
    color: #469165;
}
.main-content p{
    width: 772px;
    margin: 0 auto;
    padding-bottom: 16px;
    color: #FFFFFF;
}
.btnn{
    color: #FFFFFF;
    background-color: #001931;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    margin-left: 10px;
}
