* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 16px 120px 16px 120px;

}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 32px;

}

.nav-container a {
    text-decoration: none;
    color: #000000;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
}

.main-container {
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    height: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 1360px;
    text-align: center;
}

.main-heading {
    width: 772px;
}

.main-heading h1 {
    width: 772px;
    font-size: 68px;
    margin: 0 auto;
    padding-bottom: 16px;
}

span {
    color: #469165;
}

.main-content p {
    width: 772px;
    margin: 0 auto;
    padding-bottom: 16px;
    color: #FFFFFF;
}

.btnn {
    color: #FFFFFF;
    background-color: #001931;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    margin-left: 10px;
}

.structure-container {
    width: 1360px;
    margin: 0 auto;
}

.structure-heading {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 44px;
}
.structure-heading p{
    padding-top: 16px;
    color: #627382;
}

.cards-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.cards {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding-top: 70px;
}

.cards img {
    background-color: #F95555;
    border-radius: 30px;
    padding: 10px;
}

.cards h3 {
    padding: 16px 0;
    color: #001931;
    font-size: 20px;
}
.cards p{
    padding-bottom: 70px;
    color: #627382;
    font-size: 16px;
}
.solution{
    padding: 120px;
}
.solution-container{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.sols p{
    color: #469165;
    margin-bottom:16px;
    font-size: 16px;
}
.solution-heading h2{
    font-size: 48px;
    width: 600px;
    margin-bottom: 16px;
}
.solution-heading p{
    color: #627382;
    width: 600px;
    margin-bottom: 40px;
    
}
.early-access{
    margin: 0 120px 120px 120px ;
    
}
.access-container{
    background-color: #F7F6F2;
    text-align: center;
    border-radius: 12px;
}
.access-container h2{
    padding: 80px 0 16px 0;
    font-size: 40px;
}
.access-container p{
    padding-bottom: 16px;
    color: #627382;
}
.bott{
    padding-top: 16px;
    padding-bottom: 80px;
}
.foot{
    background: var(--Style, rgba(0, 25, 49, 1));
    padding: 120px 120px 0 120px;
}
.foot-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}
.social{
    color: #FFFFFF;
}
.foot-bottom{
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0;
}